.main-tables-container {
    justify-content: center;
    align-items: center;
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;
}